{% extends 'carga.html'%}

{% block titulo %}
<title>Home</title>
{% endblock %}

{% block redes %}
    <p class="u-text u-text-2"><b><center>Estetica canina "RHEMA" Recuerda que si no puedes o no quieres salir nosotros vamos por tu peludo.</p></b></center>
{% endblock %}

{% block nav %}
  <div class="u-nav-container">
<li class="u-nav-item"><a class="u-button btn-dark u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'home:loginapp'%}" style="padding: 10px 20px;"><B>LOGIN</B></a>
</li></div>  
{% endblock %}

{% block contenido %}
<h1><FONT COLOR = "secundary" font face=”verdana”><center>BIENVENIDO</center></FONT></h1>
    <h3 class="u-custom-font u-text u-text-palette-3-base u-title u-text-3"><b><center>Estetica Canina RHEMA</center></b></h3>
    <p class="u-text u-text-palette-5-dark-2 u-text-4"><b><center>Somos una estética especializada en el cuidado de tu mascota.</center></b></p>
{% endblock %} 

{% block contenido2 %}

<div class="u-align-left u-container-style u-group u-white u-group-1">
  <div class="u-container-layout u-valign-middle u-container-layout-1">
    <table border="1" align="center" bordercolor="blue" cellpacing="0">
      <caption><center><b><FONT COLOR = "dark">INTEGRANTES</caption></center></b></FONT>
      <tr valign="abajo" align="centro">
        <td height="50" width="600" bgcolor="navy"><center><b><FONT COLOR = "white">INTEGRANTES</FONT></b></center></td>
        <th height="50" width="400" bgcolor="navy" ><center><b><FONT COLOR = "white">CARNET</FONT></td></b></center>
        </tr>
        <tr>
          <td><FONT COLOR = "Navy">
        Gabriela Fuentes
        <br>
        Corina De León	
        <br>
        Pablo Mérida	
        <br>
        Ludim Monterroso
        <br>
        Cory Ramírez
      </FONT></td>
      <td><FONT COLOR = "Green">
        0903-10-3033<br>
        0903-18-19426<br>
        0903-19-22303<br>
        0903-19-22699<br>
        0903-19-6194
      </FONT></td>
        </tr>
      </table>
{% endblock %}









